h1{
  font-family: Arial;
  font-size: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  border-radius: 20px;
  background: #abc22b;
  box-shadow:   -50px 50px 100px #887777, 50px -50px 100px #ffffff;

  display: flex;
  align-items: center;
  height: 45px;
  transition: all .3s linear;

}





a:hover { 
  color: #dd6edd;


}

.ui list{

}

body{
  background: linear-gradient(to right,#000,#0575e6);
  text-align: center;
}

/* h3:last-child {
  width: 200px;
  height: 200px;
  background: #abc22b;

  color: #fff;
  clear: both; */

  /* -webkit-transition-property: background, border;
  -webkit-transition-duration: 2s, 1s;
  -webkit-transition-timing-function: linear, ease-in-out;
 */

/* h3:last-child:hover {
  background: blue;
  border: 20px, solid blueviolet;
} */

